.Projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    padding-top: 6rem;
    position: relative;
    background: rgb(106,44,236);
    background: linear-gradient(180deg, rgba(106,44,236,0.3) 0%, rgba(0,0,0,1) 60%);
    height: 100vh;
    
    &_Top {
        color: $color-gray;
        font-size: 45px;
        font-family: 'Krona One';
        margin-left: 10rem;
        position: relative;

        &_line {
            position: relative;
            margin-top: 2rem;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .line1 {
                width: 3px;
                height: 58px;
                background-color: $color-red;
                transform: rotateZ(90deg);
                margin-left: 1.8rem;
                position: absolute;
                top: -40px;
    
            }
            .line2 {
                width: 3px;
                height: 58px;
                transform: rotateZ(90deg);
                background-color: $color-red;
                margin-left: 2.8rem;
                position: absolute;
                top: -30px;
    
            }
        }
        &_Next {
            display: none;
            
        }
    }
    &_none {
        display: none;

        
    }

    &_Pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 9rem;
        color: $color-gray;
        position: relative;

        &_imag {
            width: 400px;
            border: 1px  solid $color-red;
            padding: 2rem;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            &_box {
                position: absolute;
                bottom: 0rem;
                right: -5rem;
                background-color: black;
                width: 100px;
                height: 130px;
            }

            &_num {
                position: absolute;
                bottom: -3rem;
                right: -7rem;
                color: $color-red;
                font-size: 160px;
                font-family: 'Lavishly Yours', sans-serif;
            }

            &_box2 {
                position: absolute;
                bottom: 0rem;
                left: -6rem;
                background-color: black;
                width: 100px;
                height: 130px;
            }
            &_num2 {
                position: absolute;
                bottom: -3rem;
                left: -10rem;
                color: $color-red;
                font-size: 160px;
                font-family: 'Lavishly Yours', sans-serif;
            }
            &_icons {
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 0;
                left: 25%;
                gap: 1rem;
                font-size: 14px;
                
                &_icn {
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    gap: 10px   ;
                    flex-direction: row;
                    align-items: center;
                    white-space: nowrap;
                    img {
                        width: 100%;
                    }
                }
                &_icnl {
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    gap: 10px   ;
                    flex-direction: row;
                    align-items: center;
                    white-space: nowrap;
                    border-left: 1px solid white;
                    padding-left: 10px;
                    img {
                        width: 100%;
                    }
                }
            }
            
        }
        &_Text {
            width: 360px;
            font-size: 20px;
            font-family: 'Lexend Giga';
            h1 {
                margin: 0;
                padding: 0;
                color: $color-red;
                margin-bottom: .5rem;
            }
            span {
                display: block;
                margin-top: 1rem;

            }
        }
    }

    .Nav_Group {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        position: fixed;
        bottom: 1rem;
        left: 50vw;
        cursor: pointer;
        align-items: flex-end;

        .Nav_line {
            width: 8px;
            height: 8px;
            background-color: white;
            border-radius: 50%;
        }
        .Nav_active {
            height: 20px;
            width: 5px;
            background-color: white;
            border-radius: 25%;
            @include transition-ease();
        }
    }
    &_up {
        position: absolute;
        bottom: 7rem;
        right: 2rem;
        cursor: pointer;

    }
    &_up:hover::after {
        content: 'Home';
        color: $color-gray;
        background-color: black;
        position: absolute;
        bottom: -20px;
        left: 5px;
    }
   
}


@media screen and (min-width: 1500px) {
    .Projects_Pages_imag {
        padding: 4rem;
        width: 700px;
    }
    .Projects_Pages_imag_icons {
        left: 35%;
        bottom:1.3rem
    }
    .Projects_up {
        bottom: 10rem;
    }
    .Projects_Pages_Text {
        font-size: 24px;
    }
}
@media screen and (max-width: 875px) {
    .Projects {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        padding-top: 6rem;
        background-color: transparent;
        padding-bottom: 4rem;
        &_Top {
            font-size: 40px;
            margin-left: 2rem;

            &_Next {
                position: absolute;
                top: -1rem;
                right: 1rem;
                width: 80px;
                height: 80px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &_Pages {
            flex-direction: column;
            margin: auto;
            margin-top: 3rem;
            gap: 3rem;

            &_imag {
                order: 1;
                max-width: 390px;
                &_box {
                    display: none;
                }
                &_num {
                    font-size: 120px;
                    bottom: -1rem;
                    right: 0;
                    
                }
                &_box2 {
                    display: none;
                }
                &_num2 {
                    font-size: 120px;
                    bottom: -1rem;
                    left: 0;
         
                    
                }
            }
            &_Text {
                order: 2;
                height: auto;
                padding-bottom: 0;
                margin-bottom: 0;

            }
        }
        &_up {
            bottom: 1rem;
            right: 1rem;
        }
        
        .Nav_Group {
            position: fixed;
            right: 50vw;
            bottom: 2rem;
            flex-direction: row;
            
    
    
        }
    }
}
