.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #B5B5B5;
  align-items: center;
  position: fixed;
  top: 2rem;
  left: 10rem;
  right: 10rem;
  z-index: 10;
  background: rgba(106, 44, 236, 0);
  border-radius: 16px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  padding-left: 1rem;
}
.NavBar .Logo {
  color: #B5B5B5;
  text-decoration: none;
  font-family: "Krona One";
}
.NavBar_Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.NavBar_Nav_Links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  transition: all 0.5s ease-in-out;
}
.NavBar_Nav_Links li {
  list-style: none;
}
.NavBar_Nav_Links li a {
  color: #B5B5B5;
  text-decoration: none;
}
.NavBar_Nav_Links .active1 {
  color: #FF395C;
}
.NavBar_Nav_active {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  transform: translateX(15px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.NavBar_Nav_active li {
  list-style: none;
}
.NavBar_Nav_active li a {
  color: #B5B5B5;
  text-decoration: none;
}
.NavBar_Nav_active .active1 {
  color: #FF395C;
}
.NavBar_Nav_lines {
  margin-left: 5rem;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.NavBar_Nav_lines_Line1 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #B5B5B5;
  top: 0px;
  left: 30px;
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
}
.NavBar_Nav_lines_Line2 {
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #B5B5B5;
  bottom: 10px;
  left: 24px;
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
}
.NavBar_Nav_lines_Line3 {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #B5B5B5;
  top: 0px;
  left: 0px;
  transform: rotate(20deg);
  transition: all 0.5s ease-in-out;
}
.NavBar_Nav_lines_Line4 {
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #B5B5B5;
  bottom: 0px;
  left: 0px;
  transform: rotate(150deg);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 875px) {
  .NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #B5B5B5;
    align-items: center;
    position: fixed;
    top: 2rem;
    left: 1rem;
    right: 1rem;
    z-index: 10;
    max-width: 100%;
    background: rgba(106, 44, 236, 0);
    border-radius: 16px;
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
  }
  .NavBar .Logo {
    color: #B5B5B5;
    text-decoration: none;
    font-family: "Krona One";
    font-size: 16px;
    white-space: nowrap;
  }
  .NavBar_Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s ease-in-out;
    position: absolute;
    right: 0rem;
    padding-right: 2rem;
    top: -1.5rem;
  }
  .NavBar_Nav_Links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 105;
    position: fixed;
    top: -4rem;
    right: -1rem;
    background: rgba(9, 3, 20, 0.8);
    border-radius: 16px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(6.1px);
    width: 60vw;
    height: 100vh;
    padding-top: 3rem;
    transition: all 2s ease-in-out;
  }
  .NavBar_Nav_Links li {
    list-style: none;
    transition: all 2s ease-in-out;
    transform: translateY(90deg);
  }
  .NavBar_Nav_Links li a {
    color: #B5B5B5;
    text-decoration: none;
    text-align: center;
    transition: all 2s ease-in-out;
  }
  .NavBar_Nav_Links .active1 {
    color: #FF395C;
  }
  .NavBar_Nav_active {
    display: none;
    transition: all 0.5s ease-in-out;
  }
  .NavBar_Nav_lines {
    position: relative;
    width: 25px;
    height: 50px;
    cursor: pointer;
    z-index: 106;
  }
  .NavBar_Nav_lines_Line1 {
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: #B5B5B5;
    top: 0px;
    left: 30px;
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
  }
  .NavBar_Nav_lines_Line2 {
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #B5B5B5;
    bottom: 10px;
    left: 24px;
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
  }
  .NavBar_Nav_lines_Line3 {
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: #B5B5B5;
    top: 0px;
    left: 0px;
    transform: rotate(20deg);
    transition: all 0.5s ease-in-out;
  }
  .NavBar_Nav_lines_Line4 {
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #B5B5B5;
    bottom: 0px;
    left: 0px;
    transform: rotate(150deg);
    transition: all 0.5s ease-in-out;
  }
}
.Home {
  width: 100vw;
  height: 100vh;
  margin: 0;
  justify-content: flex-start;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: #B5B5B5;
  position: relative;
  background: rgb(106, 44, 236);
  background: linear-gradient(180deg, rgba(106, 44, 236, 0.3) 0%, rgb(0, 0, 0) 60%);
  z-index: 1;
}
.Home_Left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 12%;
  margin-left: 10rem;
  z-index: 10;
}
.Home_Left_Top {
  font-size: 50px;
  font-family: "Krona One";
}
.Home_Left_Top span {
  display: block;
  color: #FF395C;
}
.Home_Left_Mid {
  position: relative;
}
.Home_Left_Mid .line1 {
  width: 3px;
  height: 58px;
  background-color: #FF395C;
  transform: rotateZ(90deg);
  margin-left: 1.8rem;
  position: absolute;
  top: -20px;
}
.Home_Left_Mid .line2 {
  width: 3px;
  height: 58px;
  background-color: #FF395C;
  transform: rotateZ(90deg);
  margin-left: 2.8rem;
  position: absolute;
  top: -10px;
}
.Home_Left_Bot {
  margin-top: 1rem;
  font-family: "Lexend Giga", sans-serif;
  font-size: 30px;
}
.Home_Right {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.Home .test {
  width: 190px;
  height: 40px;
  position: absolute;
  bottom: -110px;
  right: 10px;
  background-color: black;
}
.Home .test:hover::after {
  content: "You Found me!";
}
.Home .HSkills {
  display: none;
}

.Scroll {
  position: fixed;
  bottom: 2rem;
  left: -3rem;
  transform: rotateZ(90deg);
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 12px;
}
.Scroll .linesc {
  width: 2px;
  height: 60px;
  background-color: white;
  transform: rotateZ(90deg);
}

@media screen and (max-width: 875px) {
  .Home {
    width: auto;
    height: auto;
    padding-top: 3rem;
    justify-content: center;
    flex-direction: column;
    max-width: 427px;
    background: none;
    margin: auto;
  }
  .Home_Left {
    margin-left: 4rem;
    padding-top: 6rem;
  }
  .Home_Left_Top {
    font-size: 40px;
  }
  .Home_Left_Bot {
    font-size: 20px;
  }
  .Home_Right {
    display: none;
  }
  .Home .HSkills {
    height: auto;
    display: block;
    gap: 2rem;
    position: relative;
    width: 100vw;
  }
  .Home .HSkills_Icons {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    gap: 1rem;
  }
  .Home .HSkills_Icons_Iconle {
    cursor: pointer;
    margin-top: 3rem;
    width: 55px;
    height: 55px;
  }
  .Home .HSkills_Icons_Iconle img {
    width: 100%;
    height: 100%;
  }
  .Home .HSkills_Icons_Iconm {
    cursor: pointer;
    width: 55px;
    height: 55px;
    margin-top: 1rem;
  }
  .Home .HSkills_Icons_Iconm img {
    width: 100%;
    height: 100%;
  }
  .Home .HSkills_Icons_Iconl {
    cursor: pointer;
    margin-top: 2rem;
    width: 55px;
    height: 55px;
  }
  .Home .HSkills_Icons_Iconl img {
    width: 100%;
    height: 100%;
  }
  .Home .HSkills_Icons_Iconler {
    cursor: pointer;
    margin-top: 0rem;
    width: 55px;
    height: 55px;
  }
  .Home .HSkills_Icons_Iconler img {
    width: 100%;
    height: 100%;
  }
  .Home .HSkills_Icons .react:hover::after {
    margin-top: 1rem;
    content: "React.js";
    color: white;
    display: block;
    text-align: center;
  }
  .Home .HSkills_Icons .tw:hover::after {
    margin-top: 1rem;
    content: "TailWind";
    color: white;
    display: block;
    text-align: center;
  }
  .Home .HSkills_Icons .js:hover::after {
    margin-top: 1rem;
    content: "JavaScript";
    color: white;
    display: block;
    text-align: center;
  }
  .Home .HSkills_Icons .html:hover::after {
    margin-top: 1rem;
    content: "HTML5";
    color: white;
    display: block;
    text-align: center;
  }
  .Home .HSkills_Icons .css:hover::after {
    margin-top: 1rem;
    content: "CSS";
    color: white;
    display: block;
    text-align: center;
  }
  .Home .HSkills_Icons .sass:hover::after {
    margin-top: 1rem;
    content: "SCSS";
    color: white;
    display: block;
    text-align: center;
  }
  .Home .HSkills_Icons .bs:hover::after {
    margin-top: 1rem;
    content: "BootStrap";
    color: white;
    display: block;
    text-align: center;
  }
  .Scroll {
    display: none;
  }
}
.About {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  padding-top: 10rem;
  position: relative;
  background: rgb(106, 44, 236);
  background: linear-gradient(180deg, rgba(106, 44, 236, 0.3) 0%, rgb(0, 0, 0) 60%);
}
.About_left {
  margin-left: 10rem;
  color: #FF395C;
  font-size: 45px;
  font-family: "Krona One";
}
.About_left span {
  color: #B5B5B5;
}
.About_left_Top {
  margin-bottom: 2rem;
}
.About_left_Mid {
  position: relative;
}
.About_left_Mid .line1 {
  width: 3px;
  height: 58px;
  background-color: #FF395C;
  transform: rotateZ(90deg);
  margin-left: 1.8rem;
  position: absolute;
  top: -20px;
}
.About_left_Mid .line2 {
  width: 3px;
  height: 58px;
  background-color: #FF395C;
  transform: rotateZ(90deg);
  margin-left: 2.8rem;
  position: absolute;
  top: -10px;
}
.About_left_Bot {
  width: 437px;
  height: 465px;
  font-family: "Lexend Giga";
  font-size: 18px;
  color: #B5B5B5;
  margin-top: 5rem;
}
.About_left_Bot .P1 {
  --animate-delay: 1s;
}
.About_left_Bot .P2 {
  --animate-delay: 2s;
}
.About_left_Bot .P3 {
  --animate-delay: 3s;
}
.About_image {
  width: 916px;
  height: 710px;
  margin-left: 5rem;
}
.About_image_container {
  position: relative;
  width: 100%;
  height: auto;
}
.About_image_container .image1 {
  width: 60%;
  height: auto;
  position: absolute;
  z-index: 4;
  top: 2rem;
}
.About_image_container .image2 {
  width: 60%;
  height: auto;
  position: absolute;
  z-index: 3;
  top: -1rem;
}
.About_up {
  position: absolute;
  bottom: 15rem;
  right: 2rem;
  cursor: pointer;
}
.About_up:hover::after {
  content: "Home";
  color: #B5B5B5;
  background-color: black;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

@media screen and (min-width: 1400px) {
  .About_up {
    bottom: -3rem;
  }
  .About_left {
    font-size: 64px;
  }
  .About_image_container .image1 {
    width: 70%;
  }
  .About_image_container .image2 {
    width: 70%;
  }
}
@media screen and (max-width: 875px) {
  .About {
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: transparent;
    height: auto;
    width: auto;
  }
  .About_left {
    order: 2;
    margin: 0;
    font-size: 40px;
    width: auto;
  }
  .About_left_Top {
    width: auto;
    margin: auto;
    margin-top: 1rem;
    padding-left: 0.5em;
    padding-right: 1em;
  }
  .About_left_Mid {
    width: auto;
    margin: auto;
    margin-top: 1rem;
    padding-left: 0.5em;
    padding-right: 1em;
  }
  .About_left_Bot {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-left: 1em;
    padding-right: 1em;
  }
  .About_image {
    order: 1;
    margin: auto;
    margin-top: 10rem;
    padding-left: 2rem;
    max-width: 390px;
    height: 332px;
  }
  .About_image_container {
    min-width: 427px;
    max-width: 427px;
  }
  .About_image_container img {
    width: 100%;
    height: 100%;
  }
  .About_up {
    display: none;
    bottom: -2rem;
  }
}
.Projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding-top: 6rem;
  position: relative;
  background: rgb(106, 44, 236);
  background: linear-gradient(180deg, rgba(106, 44, 236, 0.3) 0%, rgb(0, 0, 0) 60%);
  height: 100vh;
}
.Projects_Top {
  color: #B5B5B5;
  font-size: 45px;
  font-family: "Krona One";
  margin-left: 10rem;
  position: relative;
}
.Projects_Top_line {
  position: relative;
  margin-top: 2rem;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Projects_Top_line .line1 {
  width: 3px;
  height: 58px;
  background-color: #FF395C;
  transform: rotateZ(90deg);
  margin-left: 1.8rem;
  position: absolute;
  top: -40px;
}
.Projects_Top_line .line2 {
  width: 3px;
  height: 58px;
  transform: rotateZ(90deg);
  background-color: #FF395C;
  margin-left: 2.8rem;
  position: absolute;
  top: -30px;
}
.Projects_Top_Next {
  display: none;
}
.Projects_none {
  display: none;
}
.Projects_Pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9rem;
  color: #B5B5B5;
  position: relative;
}
.Projects_Pages_imag {
  width: 400px;
  border: 1px solid #FF395C;
  padding: 2rem;
  position: relative;
}
.Projects_Pages_imag img {
  width: 100%;
  height: 100%;
}
.Projects_Pages_imag_box {
  position: absolute;
  bottom: 0rem;
  right: -5rem;
  background-color: black;
  width: 100px;
  height: 130px;
}
.Projects_Pages_imag_num {
  position: absolute;
  bottom: -3rem;
  right: -7rem;
  color: #FF395C;
  font-size: 160px;
  font-family: "Lavishly Yours", sans-serif;
}
.Projects_Pages_imag_box2 {
  position: absolute;
  bottom: 0rem;
  left: -6rem;
  background-color: black;
  width: 100px;
  height: 130px;
}
.Projects_Pages_imag_num2 {
  position: absolute;
  bottom: -3rem;
  left: -10rem;
  color: #FF395C;
  font-size: 160px;
  font-family: "Lavishly Yours", sans-serif;
}
.Projects_Pages_imag_icons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 25%;
  gap: 1rem;
  font-size: 14px;
}
.Projects_Pages_imag_icons_icn {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.Projects_Pages_imag_icons_icn img {
  width: 100%;
}
.Projects_Pages_imag_icons_icnl {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  border-left: 1px solid white;
  padding-left: 10px;
}
.Projects_Pages_imag_icons_icnl img {
  width: 100%;
}
.Projects_Pages_Text {
  width: 360px;
  font-size: 20px;
  font-family: "Lexend Giga";
}
.Projects_Pages_Text h1 {
  margin: 0;
  padding: 0;
  color: #FF395C;
  margin-bottom: 0.5rem;
}
.Projects_Pages_Text span {
  display: block;
  margin-top: 1rem;
}
.Projects .Nav_Group {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  position: fixed;
  bottom: 1rem;
  left: 50vw;
  cursor: pointer;
  align-items: flex-end;
}
.Projects .Nav_Group .Nav_line {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}
.Projects .Nav_Group .Nav_active {
  height: 20px;
  width: 5px;
  background-color: white;
  border-radius: 25%;
  transition: all 0.5s ease-in-out;
}
.Projects_up {
  position: absolute;
  bottom: 7rem;
  right: 2rem;
  cursor: pointer;
}
.Projects_up:hover::after {
  content: "Home";
  color: #B5B5B5;
  background-color: black;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

@media screen and (min-width: 1500px) {
  .Projects_Pages_imag {
    padding: 4rem;
    width: 700px;
  }
  .Projects_Pages_imag_icons {
    left: 35%;
    bottom: 1.3rem;
  }
  .Projects_up {
    bottom: 10rem;
  }
  .Projects_Pages_Text {
    font-size: 24px;
  }
}
@media screen and (max-width: 875px) {
  .Projects {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 6rem;
    background-color: transparent;
    padding-bottom: 4rem;
  }
  .Projects_Top {
    font-size: 40px;
    margin-left: 2rem;
  }
  .Projects_Top_Next {
    position: absolute;
    top: -1rem;
    right: 1rem;
    width: 80px;
    height: 80px;
  }
  .Projects_Top_Next img {
    width: 100%;
    height: 100%;
  }
  .Projects_Pages {
    flex-direction: column;
    margin: auto;
    margin-top: 3rem;
    gap: 3rem;
  }
  .Projects_Pages_imag {
    order: 1;
    max-width: 390px;
  }
  .Projects_Pages_imag_box {
    display: none;
  }
  .Projects_Pages_imag_num {
    font-size: 120px;
    bottom: -1rem;
    right: 0;
  }
  .Projects_Pages_imag_box2 {
    display: none;
  }
  .Projects_Pages_imag_num2 {
    font-size: 120px;
    bottom: -1rem;
    left: 0;
  }
  .Projects_Pages_Text {
    order: 2;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .Projects_up {
    bottom: 1rem;
    right: 1rem;
  }
  .Projects .Nav_Group {
    position: fixed;
    right: 50vw;
    bottom: 2rem;
    flex-direction: row;
  }
}
.Contact {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
  padding-top: 6rem;
  position: relative;
  background: rgb(106, 44, 236);
  background: linear-gradient(180deg, rgba(106, 44, 236, 0.3) 0%, rgb(0, 0, 0) 60%);
  color: #B5B5B5;
}
.Contact_Left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
}
.Contact_Left_Top {
  color: #B5B5B5;
  font-size: 45px;
  font-family: "Krona One";
  margin-left: 10rem;
  position: relative;
}
.Contact_Left_Top span {
  display: block;
  color: #FF395C;
}
.Contact_Left_Top_line {
  position: relative;
  margin-top: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Contact_Left_Top_line .line1 {
  width: 3px;
  height: 58px;
  background-color: #FF395C;
  transform: rotateZ(90deg);
  margin-left: 1.8rem;
  position: absolute;
  top: -20px;
}
.Contact_Left_Top_line .line2 {
  width: 3px;
  height: 58px;
  transform: rotateZ(90deg);
  background-color: #FF395C;
  margin-left: 2.8rem;
  position: absolute;
  top: -10px;
}
.Contact_Left_Mid {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.Contact_Left_Mid_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}
.Contact_Left_Mid_container_img {
  cursor: pointer;
}
.Contact_Left_Mid_container_img img {
  width: 65px;
  height: 65px;
}
.Contact_Left_Bot {
  display: flex;
  justify-content: center;
  position: relative;
}
.Contact_Left_Bot img {
  width: 400px;
  height: 200px;
}
.Contact_Left_Bot button {
  position: absolute;
  left: 40%;
  top: 45%;
  background-color: transparent;
  border: none;
}
.Contact_Left_Bot button a {
  color: black;
  text-decoration: none;
  font-family: "Krona One";
  font-size: 18px;
  font-weight: bold;
}
.Contact_Right {
  padding-top: 3rem;
  margin-right: 3rem;
}
.Contact_Right_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 20px;
  font-family: "Krona One";
  align-items: center;
}
.Contact_Right_container_Fn {
  display: flex;
  align-items: center;
}
.Contact_Right_container_Fn_inp {
  width: 390px;
  height: 40px;
  background: rgba(217, 217, 217, 0.25);
  border: 2px solid #FF395C;
  border-radius: 5px;
  color: white;
  font-size: 24px;
}
.Contact_Right_container_Fn span {
  width: 203px;
  margin-right: 10px;
}
.Contact_Right_container_Fn_At {
  display: block;
  margin-top: 1rem;
  width: 600px;
  height: 230px;
  background: rgba(217, 217, 217, 0.25);
  border: 2px solid #FF395C;
  border-radius: 5px;
  color: white;
  font-size: 24px;
}
.Contact_Right_container_Submit {
  background-color: #FF395C;
  width: 100.92px;
  height: 50px;
  border-radius: 10px;
  color: black;
  margin-left: auto;
  font-size: 20px;
  font-family: "Krona One";
}
.Contact_Right_container_Submit:active {
  background-color: black;
  color: white;
}

@media screen and (min-width: 1400px) {
  .Contact {
    padding-top: 15rem;
  }
  .Contact .Contact_Left_Bot img {
    width: 600px;
    height: 300px;
  }
  .Contact .Contact_Left_Bot button {
    left: 45%;
  }
}
@media screen and (max-width: 875px) {
  .Contact {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 6rem;
    background-color: transparent;
  }
  .Contact_Left {
    width: auto;
  }
  .Contact_Left_Top {
    font-size: 40px;
    margin-left: 2rem;
  }
  .Contact_Left_Mid {
    justify-content: center;
  }
  .Contact_Left_Mid_container {
    margin-left: 0;
  }
  .Contact_Right {
    margin: 0;
    margin-bottom: 2rem;
    padding-top: 1rem;
  }
  .Contact_Right_container {
    font-size: 20px;
    width: 390px;
    margin: auto;
  }
  .Contact_Right_container_Fn {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }
  .Contact_Right_container_Fn_inp {
    min-width: 200px;
    width: 390px;
  }
  .Contact_Right_container_Fn_At {
    min-width: 200px;
    width: 390px;
    font-size: 20px;
  }
}
.Skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  padding-top: 6rem;
  position: relative;
  background: rgb(106, 44, 236);
  background: linear-gradient(180deg, rgba(106, 44, 236, 0.3) 0%, rgb(0, 0, 0) 60%);
}
.Skills_Top {
  color: #B5B5B5;
  font-size: 50px;
  font-family: "Krona One";
  margin-left: 10rem;
}
.Skills_Top_line {
  position: relative;
  margin-top: 2rem;
  width: 30px;
  height: 30px;
}
.Skills_Top_line .line1 {
  width: 3px;
  height: 58px;
  background-color: #FF395C;
  transform: rotateZ(90deg);
  margin-left: 1.8rem;
  position: absolute;
  top: -20px;
}
.Skills_Top_line .line2 {
  width: 3px;
  height: 58px;
  transform: rotateZ(90deg);
  background-color: #FF395C;
  margin-left: 2.8rem;
  position: absolute;
  top: -10px;
}
.Skills_Icons {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
}
.Skills_Icons_Iconl {
  cursor: pointer;
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.Skills_Icons_Iconl img {
  width: 100%;
  height: 100%;
}
.Skills_Icons_Iconler {
  cursor: pointer;
  margin-top: -4rem;
  width: 100px;
  height: 100px;
}
.Skills_Icons_Iconler img {
  width: 100%;
  height: 100%;
}
.Skills_Icons_Iconle {
  cursor: pointer;
  margin-top: 4rem;
  width: 100px;
  height: 100px;
}
.Skills_Icons_Iconle img {
  width: 100%;
  height: 100%;
}
.Skills_Icons_Iconm {
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.Skills_Icons_Iconm img {
  width: 100%;
  height: 100%;
}
.Skills_Icons .react:hover::after {
  margin-top: 1rem;
  content: "React.js";
  color: white;
  display: block;
  text-align: center;
}
.Skills_Icons .tw:hover::after {
  margin-top: 1rem;
  content: "TailWind";
  color: white;
  display: block;
  text-align: center;
}
.Skills_Icons .js:hover::after {
  margin-top: 1rem;
  content: "JavaScript";
  color: white;
  display: block;
  text-align: center;
}
.Skills_Icons .html:hover::after {
  margin-top: 1rem;
  content: "HTML5";
  color: white;
  display: block;
  text-align: center;
}
.Skills_Icons .css:hover::after {
  margin-top: 1rem;
  content: "CSS";
  color: white;
  display: block;
  text-align: center;
}
.Skills_Icons .sass:hover::after {
  margin-top: 1rem;
  content: "SCSS";
  color: white;
  display: block;
  text-align: center;
}
.Skills_Icons .bs:hover::after {
  margin-top: 1rem;
  content: "BootStrap";
  color: white;
  display: block;
  text-align: center;
}
.Skills_up {
  position: absolute;
  bottom: 8rem;
  right: 2rem;
  cursor: pointer;
}
.Skills_up:hover::after {
  content: "Home";
  color: #B5B5B5;
  background-color: black;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

@media screen and (min-width: 1400px) {
  .Skills_up {
    bottom: 10rem;
  }
}
.Loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.Loading_Animation {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: #B5B5B5;
  position: relative;
}
.Loading_Animation_dance {
  margin: 0;
  background-color: transparent;
}
.Loading_Animation_dance2 {
  position: absolute;
  bottom: -10rem;
  left: -2rem;
}

@media screen and (max-width: 875px) {
  .Loading {
    width: auto;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Giga", "Krona One", sans-serif;
  background-color: transparent;
  background-color: black;
  overflow: hidden;
  height: 100%;
}

@media screen and (max-width: 875px) {
  html {
    height: auto;
    width: 100%;
    min-width: 484px;
    background-color: black;
    padding: 0;
    margin: 0;
  }
  body {
    background: rgb(106, 44, 236);
    background: linear-gradient(180deg, rgb(106, 44, 236) 0%, rgb(0, 0, 0) 30%);
    width: 100%;
    min-width: 484px;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
}/*# sourceMappingURL=index.css.map */